.header {
  padding: 60px;
  text-align: center;
  background: hsl(0, 0%, 100%);
  color: rgb(68, 3, 77);
  font-size: 20px;
}

.header1 {
  padding: 60px;
  text-align: center;
  background: hsl(0, 0%, 100%);
  color: rgb(167, 6, 54);
  font-size: 20px;
}